{% extends 'base.html' %}

{% block content %}
{% include 'prog/includes/nav.html'  with title2="dsds" %}
    <ul>
        {% for i in author %}
        {% if i.them_is_Python %}
        <li>
            <h2>{{ i.auth }}</h2>
            <p>{{ i.content }}</p>
            <p><a href="{% url 'author' i.id %}">Читать автора</a></p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% include 'prog/includes/nav.html' %}
{% endblock %}
