<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Программист и его учебные материалы</title>
</head>
<body>
<header>
    <nav>
        <ul>
            {% for dic in menu %}
            <li><a href="{% url dic.url_name%}">{{ dic.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>


<main>
    <h1>Добро пожаловать!</h1>
    {% block content %} {% endblock %}
</main>


<footer>
    <p>&copy; 2024 Программист и его учебные материалы</p>
</footer>
</body>
</html>